<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8" />
  <title>Miojo Template</title>

  <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
  <link rel="stylesheet" href="/assets/semantic/semantic.css">
  <link rel="stylesheet" href="/assets/css/main.css">

  <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/fontawesome/js/all.js"></script>
  <script src="/assets/semantic/semantic.js"></script>
</head>
<body>