<div class="ui inverted menu">

      <a href="#" class="header item">
        <img class="logo" src="/assets/img/noodle.png"> <span> Miojo Template </span>
      </a>

      <div class="ui container">
      <a href="/" class="item"> <i class="fas fa-home"></i>         <span>inicio</span> </a>
      <a href="#" class="item"> <i class="fas fa-camera-retro"></i> <span>item</span> </a>
      <a href="#" class="item"> <i class="far fa-address-card"></i> <span>item</span> </a>
      <a href="#" class="item"> <i class="fas fa-laptop-code"></i>  <span>item</span> </a>
      </div>

      <div class="right item">
        <button class="ui blue basic button"><i class="fas fa-newspaper"></i> item na direita</button>
      </div>

</div>