<!-- apague esse arquivo -->


<div class="ui container">

    <div class="ui center aligned text container">
        <h1 class="ui header">Bem vindos ao Miojo Template</h1>
        <br>
    </div>

    <div class="ui text container">
        <p id="descricao">Miojo Template é só um projeto base pra quem vive tento idéias e quer iniciar uma aplicação web com Node.js em 5 minutos &#9969; </p>
        <br>
    </div>

    <div class="ui center aligned text container">
        <h2 class="ui header">Estrutura do Projeto</h2>
    </div>


    <div class="ui text container">
        <div class="ui list">

            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">assets</div>
                    <div class="description">Pasta contendo os arquivos de script, estilo e imagem</div>

                    <div class="list">
                        <div class="item">
                            <i class="folder icon"></i>
                            <div class="content">
                                <div class="header">css</div>
                                <div class="description">arquivos de estilo customizados</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="folder icon"></i>
                            <div class="content">
                                <div class="header">fontawesome</div>
                                <div class="description">kit de ícones para usar no projeto</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="folder icon"></i>
                            <div class="content">
                                <div class="header">img</div>
                                <div class="description">imagens do usadas no projeto</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="folder icon"></i>
                            <div class="content">
                                <div class="header">js</div>
                                <div class="description">arquivos de script customizados</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="folder icon"></i>
                            <div class="content">
                                <div class="header">semantic</div>
                                <div class="description">um framework frontend para facilitar o trabalho</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">controllers</div>
                    <div class="description">Aqui é onde devem ficar os controllers da aplicação</div>
                </div>
            </div>


            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">models</div>
                    <div class="description">Aqui é onde devem ficar os models da aplicação</div>
                </div>
            </div>


            <div class="item">
                <i class="folder icon"></i>
                <div class="content">

                    <div class="header">routes</div>
                    <div class="description">rotas da aplicação</div>

                    <div class="list">
                        <div class="item">
                            <i class="node js icon"></i>
                            <div class="content">
                            <div class="header">api.js</div>
                            <div class="description">rotas da api</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="node js icon"></i>
                            <div class="content">
                            <div class="header">index.js</div>
                            <div class="description">rotas da aplicação</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">views</div>
                    <div class="description">views e componentes da aplicação</div>

                    <div class="list">
                        <div class="item">
                            <i class="folder icon"></i>
                            <div class="content">
                                <div class="header">partials</div>
                                <div class="description">componentes da aplicação: cabeçalho, menu, rodapé, etc..</div>
                            </div>
                        </div>

                        <div class="item">
                            <i class="window maximize outline icon"></i>
                            <div class="content">
                                <div class="header">index.hbs</div>
                                <div class="description">essa é a view que você ta vendo agora</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>